<br>
<div class="row">
  <div class="col-xs-3"><strong>Tipo Documento:</strong></div>
  <div class="col-xs-6"><%= select_tag :type_doc_id, options_from_collection_for_select(@type_docs, 'id', 'name'),class: "form-control validate[required]",name: "supplier[type_doc_id]" %></div>
</div>
 