 
<h1 align="center">Ver Tipo de Lente</h1>
<br>

<div class="row">
  <div class="col-xs-3"><strong>Nombre:</strong></div>
  <div class="col-xs-6"><%= @lent_type.name %></div>
</div>

<br>
<div class="actions" align="center"> 
  <%= link_to 'Editar', edit_lent_type_path(@lent_type), class: "btn btn-success" %>  
  <%= link_to 'Regresar', lent_types_path , class: "btn btn-warning"%>
</div>

 