<br>
<div class="row">
  <div class="col-xs-3"><strong>Modelo:</strong></div>
  <div class="col-xs-6"><%= select_tag :lent_model_id, options_from_collection_for_select(@lent_models, 'id', 'name'),class: "form-control validate[required]",name: "lent_serial[lent_model_id]" %></div>
</div>
 