 
<h1 align="center">Ver Color de Lente</h1>
<br>

<div class="row">
  <div class="col-xs-3"><strong>Nombre:</strong></div>
  <div class="col-xs-6"><%= @lent_color.name %></div>
</div>

<br>
<div class="actions" align="center"> 
  <%= link_to 'Editar', edit_lent_color_path(@lent_color), class: "btn btn-success" %>  
  <%= link_to 'Regresar', lent_colors_path , class: "btn btn-warning"%>
</div>

 